<div class="doc-map">
  <div class="doc-map-main">
    <h2 class="line-title bg-1" id="process">流程与规范</h2>
    <div class="line-main">
      <div class="link-list no-border">
        <a target="_blank" href="https://gitee.com/help">Gitee入门</a>
        <a
          target="_blank"
          href="https://www.openeuler.org/zh/blog/2022-11-25-cla/CLA%E7%AD%BE%E7%BD%B2%E6%B5%81%E7%A8%8B.html"
          >CLA签署操作指南</a
        >
        <a
          target="_blank"
          href="https://gitee.com/openeuler/docs-centralized/blob/master/contribute/%E5%86%99%E4%BD%9C%E8%A7%84%E8%8C%83.md"
          >社区文档写作规范</a
        >
        <a
          target="_blank"
          href="https://gitee.com/openeuler/QA/blob/master/%E7%A4%BE%E5%8C%BA%E7%89%88%E6%9C%ACissue%E5%88%9B%E5%BB%BA%E5%A4%84%E7%90%86%E6%B5%81%E7%A8%8B%E4%B8%8E%E8%A7%84%E8%8C%83/%E7%A4%BE%E5%8C%BA%E7%89%88%E6%9C%ACissue%E5%88%9B%E5%BB%BA%E5%A4%84%E7%90%86%E6%B5%81%E7%A8%8B%E4%B8%8E%E8%A7%84%E8%8C%83.md"
          >issue处理流程与规范</a
        >
        <a
          target="_blank"
          href="https://gitee.com/openeuler/docs-centralized/wikis/%E7%A4%BE%E5%8C%BA%E6%96%87%E6%A1%A3%E8%B4%A1%E7%8C%AE%E6%8C%87%E5%8D%97"
          >社区文档贡献指南</a
        >
        <a
          target="_blank"
          href="https://gitee.com/openeuler/docs-centralized/blob/master/others/certification/openEuler%E6%8A%80%E6%9C%AF%E6%B5%8B%E8%AF%84%E6%8C%87%E5%AF%BC%E4%B9%A6.md"
          >openEuler技术测评指导</a
        >
        <a
          target="_blank"
          href="https://gitee.com/openeuler/security-committee/blob/master/secure-configuration-benchmark/release/openEuler%E5%AE%89%E5%85%A8%E9%85%8D%E7%BD%AE%E5%9F%BA%E7%BA%BF.md"
          >openEuler安全配置基线</a
        >
      </div>
    </div>
    <h2 class="line-title bg-1" id="learning">学习</h2>
    <div class="line-main">
      <div class="link-list no-border">
        <a target="_blank" href="https://gitee.com/openeuler/docs-centralized/blob/master/caselibrary/openEuler_%E6%A1%88%E4%BE%8B%E5%BA%93%E6%B1%87%E6%80%BB.md"
          >案例库</a
        >
        <a target="_blank" href="https://www.openeuler.org/zh/learn/mooc/"
          >慕课</a
        >
        <a target="_blank" href="https://www.openeuler.org/zh/internship/"
          >实习</a
        >
        <a
          target="_blank"
          href="https://training-assessment.osinfra.cn/commonUsage/privilegePage.htm?tenantId=1519850993951571970&isResources=true&inCollege=false&sxz-lang=zh_CN"
          >学习培训</a
        >
        <a
          target="_blank"
          href="https://www.openeuler.org/zh/interaction/live-list/"
          >直播</a
        >
      </div>
    </div>    
    <h2 class="line-title bg-1" id="tool">工具</h2>
    <div class="line-main">
      <div class="secondary-title">包管理</div>
      <div class="link-list tool-item">
        <div class="tool-left">pkgship</div>
        <div class="tool-right">
          <a
            target="_blank"
            href="https://pkgmanage.openeuler.org/Packagemanagement "
            class="download-btn hover-transform"
            >在线服务 {{ partial "svg/icon-right.html" . }}</a
          >
          <a
            target="_blank"
            href="https://gitee.com/openeuler/pkgship"
            class="download-btn hover-transform"
            >获取源码 {{ partial "svg/icon-right.html" . }}</a
          >
          <a
            href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/userguide/pkgship.html"
            class="download-btn hover-transform"
            >使用指南 {{ partial "svg/icon-right.html" . }}</a
          >
        </div>
      </div>
    </div>
    <div class="line-main">
      <div class="secondary-title">兼容性</div>
      <div class="link-list tool-item">
        <div class="tool-left">oec-hardware</div>
        <div class="tool-right">
          <a
            target="_blank"
            href="https://gitee.com/openeuler/oec-hardware"
            class="download-btn hover-transform"
            >获取源码 {{ partial "svg/icon-right.html" . }}</a
          >
          <a
            target="_blank"
            href="https://gitee.com/openeuler/oec-hardware/blob/master/README.md"
            class="download-btn hover-transform"
            >使用指南 {{ partial "svg/icon-right.html" . }}</a
          >
        </div>
      </div>
      <div class="link-list tool-item">
        <div class="tool-left">oecp</div>
        <div class="tool-right">
          <a
            target="_blank"
            href="https://toscode.gitee.com/openeuler/oecp/tree/master"
            class="download-btn hover-transform"
            >获取源码 {{ partial "svg/icon-right.html" . }}</a
          >
          <a
            target="_blank"
            href="https://toscode.gitee.com/openeuler/oecp/blob/master/README.md"
            class="download-btn hover-transform"
            >使用指南 {{ partial "svg/icon-right.html" . }}</a
          >
        </div>
      </div>
    </div>
    <div class="line-main">
      <div class="secondary-title">集成测试</div>
      <div class="link-list tool-item">
        <div class="tool-left">Compass-CI</div>
        <div class="tool-right">
          <a
            target="_blank"
            href="https://gitee.com/openeuler/compass-ci"
            class="download-btn hover-transform"
            >获取源码 {{ partial "svg/icon-right.html" . }}</a
          >
          <a
            target="_blank"
            href="https://gitee.com/openeuler/compass-ci/blob/master/README.zh.md"
            class="download-btn hover-transform"
            >使用指南 {{ partial "svg/icon-right.html" . }}</a
          >
        </div>
      </div>
    </div>
    <div class="line-main">
      <div class="secondary-title">OS迁移与升级</div>
      <div class="link-list tool-item">
        <div class="tool-left">x2openEuler</div>
        <div class="tool-right">
          <a
            target="_blank"
            href="https://repo.oepkgs.net/openEuler/rpm/openEuler-20.03-LTS-SP1/contrib/x2openEuler/"
            class="download-btn software-download"
            >软件下载 {{ partial "svg/icon-right.html" . }}</a
          >
          <a
            target="_blank"
            href="https://docs.openeuler.org/zh/docs/20.03_LTS_SP1/docs/x2openEuler/Introduction.html"
            class="download-btn hover-transform"
            >使用指南 {{ partial "svg/icon-right.html" . }}</a
          >
        </div>
      </div>
    </div>
    <div class="line-main">
      <div class="secondary-title">镜像裁剪定制</div>
      <div class="link-list tool-item">
        <div class="tool-left">isocut</div>
        <div class="tool-right">
          <a
            target="_blank"
            href="https://repo.openeuler.org/"
            class="download-btn software-download"
            >软件下载 {{ partial "svg/icon-right.html" . }}</a
          >
          <a
            href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/TailorCustom/isocut%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97.html"
            class="download-btn hover-transform"
            >使用指南 {{ partial "svg/icon-right.html" . }}</a
          >
        </div>
      </div>
      <div class="link-list tool-item">
        <div class="tool-left">imageTailor</div>
        <div class="tool-right">
          <a
            target="_blank"
            href="https://repo.openeuler.org/"
            class="download-btn software-download"
            >软件下载 {{ partial "svg/icon-right.html" . }}</a
          >
          <a
            href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/TailorCustom/imageTailor%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97.html"
            class="download-btn hover-transform"
            >使用指南 {{ partial "svg/icon-right.html" . }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
