<div class="hot-document" id="hot">
    <div id="document_content">
        <div href="{{i18n "container_link"}}">
            <p class="lable-hot">HOT</p>
            <p class="hot-name">{{i18n "container_header"}}</p>
        </div>
        <div href="{{i18n "secGear_link"}}">
            <p class="lable-hot">HOT</p>
            <p class="hot-name">{{i18n "secGear_header"}}</p>
        </div>
        <div href="{{i18n "StratoVirt_link"}}">
            <p class="lable-hot">HOT</p>
            <p class="hot-name">{{i18n "StratoVirt_header"}}</p>
        </div>
        <div href="{{i18n "A-Tune_link"}}">
            <p class="lable-hot">HOT</p>
            <p class="hot-name">{{i18n "A-Tune_header"}}</p>
        </div>
        <div href="{{i18n "A-Ops_link"}}">
            <p class="lable-hot">HOT</p>
            <p class="hot-name">{{i18n "A-Ops_header"}}</p>
        </div>
        <div href="{{i18n "Security_link"}}">
            <p class="lable-hot">HOT</p>
            <p class="hot-name">{{i18n "Security_header"}}</p>
        </div>
    </div>
</div>