<div class="doc-map">
    <div class="doc-map-main">
        <h2 class="line-title bg-1" id="started">
            Getting Started
        </h2>
        <div class="line-main">
            <div class="link-list no-border">
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/Releasenotes/release_notes.html">Release
                    Notes</a>
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/Quickstart/quick-start.html">Quick
                    Start</a>
                <a
                    href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/Driver_Development_Specifications/openEuler-Driver-Development-Specifications.html">openEuler
                    Driver Development Specifications</a>
            </div>
        </div>
        <h2 class="line-title bg-1" id="server">
            Server
        </h2>
        <div class="line-main">
            <div class="secondary-title">
                Installation
            </div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/Installation/Installation.html">Installation
                    Guide</a>
            </div>
            <div class="secondary-title">
                System Management
            </div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/Administration/administration.html">Administrator
                    Guide</a>
            </div>
            <div class="secondary-title">
                Network
            </div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/Gazelle/Gazelle.html">
                    Gazelle User Guide</a>
                <a
                    href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/Distributed/expanding_ecosystem_through_dsoftbus.html">
                    Distributed Soft Bus User Guide</a>
            </div>
            <div class="secondary-title">
                Maintenance
            </div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/A-Ops/overview.html">A-Ops User Guide</a>
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/thirdparty_migration/ha.html">HA User
                    Guide</a>
                <a
                    href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/KernelLiveUpgrade/KernelLiveUpgrade.html">Kernel
                    Live Upgrade Guide</a>
            </div>
            <div class="secondary-title">
                Security
            </div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/SecHarden/secHarden.html">Security
                    Hardening Guide</a>
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/secGear/secGear.html">secGear Developer
                    Guide</a>
            </div>
            <div class="secondary-title">
                Performance
            </div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/A-Tune/A-Tune.html">A-Tune User Guide</a>
            </div>
            <div class="secondary-title ">
                Toolchain
            </div>
            <div class="link-list no-border">
                <a
                    href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/ApplicationDev/application-development.html">Application
                    Development Guide</a>
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/UADK/UADK-user-guide.html">UADK User
                    Guide</a>
            </div>
        </div>
        <div class="secondary-title ">
            Service
        </div>
        <div class="link-list no-border">
            <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/SysCare/SysCare_user_guide.html">SysCare User
                Guide</a>
            <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/oepkgs/overview.html">oepkgs User Guide</a>
        </div>
        <h2 class="line-title bg-1" id="desktop">
            Desktop
        </h2>
        <div class="line-main">
            <div class="link-list no-border">
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/desktop/desktop.html">Desktop Environment
                    User Guide</a>
            </div>
        </div>
        <h2 class="line-title bg-1" id="embedded">
            Embedded
        </h2>
        <div class="line-main">
            <div class="link-list no-border">
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/Embedded/embedded.html">Embedded User
                    Guide</a>
            </div>
        </div>
        <h2 class="line-title bg-1" id="computing">
            Cloud Computing
        </h2>
        <div class="line-main">
            <div class="secondary-title">
                Virtualization
            </div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/Virtualization/virtualization.html">Virtualization
                    User Guide</a>
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/StratoVirt/StratoVirt_guidence.html">StratoVirt
                    User Guide</a>
                <a
                    href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/thirdparty_migration/OpenStack-wallaby.html">OpenStack
                    Deployment Guide</a>
                <a
                    href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/DPUOffload/imperceptible-virtualization-management-plane-offload.html">Imperceptible
                    Virtualization Management Plane Offload</a>
            </div>
            <div class="secondary-title">
                Cloud Native
            </div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/Container/container.html">Container User
                    Guide</a>
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/KubeOS/kubeos-user-guide.html">KubeOS
                    User Guide</a>
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/Kubernetes/Kubernetes.html">Kubernetes
                    Cluster Deployment Guide</a>
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/rubik/overview.html">Rubik User Guide</a>
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/NestOS/overview.html">NestOS User
                    Guide</a>
            </div>
            <div class="secondary-title">
                Edge Computing
            </div>
            <div class="link-list no-border">
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/KubeEdge/overview.html">KubeEdge User
                    Guide</a>
                <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/K3s/K3s-deployment-guide.html">K3s
                    Deployment Guide</a>
            </div>
        </div>
        <h2 class="line-title bg-1" id="tool">
            Tools
        </h2>
        <div class="line-main">
            <div class="secondary-title">
                Package Management
            </div>
            <div class="link-list tool-item">
                <div class="tool-left">pkgship</div>
                <div class="tool-right">
                    <a target="_blank" href="https://pkgmanage.openeuler.org/Packagemanagement "
                        class="download-btn hover-transform online-services">Try Now {{ partial "svg/icon-right.html" . }}</a>
                    <a target="_blank" href="https://gitee.com/openeuler/pkgship/blob/master/README.en.md"
                        class="download-btn hover-transform source-code">Get Source Code {{ partial "svg/icon-right.html" . }}</a>
                    <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/userguide/pkgship.html"
                        class="download-btn hover-transform user-guide">View Document {{ partial "svg/icon-right.html" . }}</a>
                </div>
            </div>

        </div>
        <div class="line-main">
            <div class="secondary-title">
                Compatibility
            </div>
            <div class="link-list tool-item">
                <div class="tool-left">oecp</div>
                <div class="tool-right">
                    <a target="_blank" href="https://toscode.gitee.com/openeuler/oecp/blob/master/README.en.md"
                        class="download-btn hover-transform source-code">Get Source Code {{ partial "svg/icon-right.html" . }}</a>
                    <a target="_blank" href="https://toscode.gitee.com/openeuler/oecp/blob/master/README.en.md"
                        class="download-btn hover-transform user-guide">View Document {{ partial "svg/icon-right.html" . }}</a>
                </div>
            </div>
        </div>
        <div class="line-main">
            <div class="secondary-title">
                Integration Test
            </div>
            <div class="link-list tool-item">
                <div class="tool-left">Compass-CI</div>
                <div class="tool-right">
                    <a target="_blank" href="https://gitee.com/openeuler/compass-ci/blob/master/README.en.md"
                        class="download-btn hover-transform source-code">Get Source Code {{ partial "svg/icon-right.html" . }}</a>
                    <a target="_blank" href="https://gitee.com/openeuler/compass-ci/blob/master/README.en.md"
                        class="download-btn hover-transform user-guide">View Document {{ partial "svg/icon-right.html" . }}</a>
                </div>
            </div>
        </div>
        <div class="line-main">
            <div class="secondary-title">
                OS Upgrade and Porting
            </div>
            <div class="link-list tool-item">
                <div class="tool-left">x2openEuler</div>
                <div class="tool-right">
                    <a target="_blank"
                        href="https://repo.oepkgs.net/openEuler/rpm/openEuler-20.03-LTS-SP1/contrib/x2openEuler/"
                        class="download-btn software-download">Download Software {{ partial "svg/icon-right.html" .
                        }}</a>
                </div>
            </div>
        </div>
        <div class="line-main">
            <div class="secondary-title">
                Image Tailoring
            </div>
            <div class="link-list tool-item">
                <div class="tool-left">isocut</div>
                <div class="tool-right">
                    <a target="_blank" href="https://repo.openeuler.org/"
                        class="download-btn software-download">Download Software {{
                        partial "svg/icon-right.html" . }}</a>
                    <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/TailorCustom/isocut-usage-guide.html"
                        class="download-btn hover-transform user-guide">View Document {{ partial "svg/icon-right.html" . }}</a>
                </div>
            </div>
            <div class="link-list tool-item">
                <div class="tool-left">imageTailor</div>
                <div class="tool-right">
                    <a target="_blank" href="https://repo.openeuler.org/"
                        class="download-btn software-download">Download Software {{
                        partial "svg/icon-right.html" . }}</a>
                    <a href="https://docs.openeuler.org/en/docs/22.03_LTS_SP1/docs/TailorCustom/imageTailor-user-guide.html"
                        class="download-btn hover-transform user-guide">View Document {{ partial "svg/icon-right.html" . }}</a>
                </div>
            </div>
        </div>
    </div>
</div>