<nav class="nav-box">
  <div class="nav-menu container pc-nav-menu">
    <div class="docs-a">
      <a class="home-bread">{{ i18n "document_home"}}</a>
    </div>
    <div class="right" id="right-style">
        {{ partial "link.html" }}
        <div class="right-nav">
          <div id="nav-search">
            <i class="icon-search"></i>
          </div>
          <div id="result-container">
            <div class="search-header">
              <i class="icon-search"></i>
              <input type="text" class="search-text" placeholder="{{ i18n
              "search_placeholder" }}" />
            </div>
            <div class="search-result" class="container result-style">
              <ul style="border: none"></ul>
              <div class="no-data" style="display: none;">
                <img class="empty-img" src="{{ .Site.Params.resourceURL }}img/search/no-data.png" alt="" />
                <span class="empty-tip">{{ i18n "search_no_data_tip" }}</span>
              </div>
              <div id="baseof-pagination"></div>
            </div>
          </div>
          <div class="baseof_mask">
            <div class="loading-box">
              <img src="{{ .Site.Params.resourceURL }}img/detail/loading.gif" alt="" />
            </div>
          </div>
          <div name="lang" id="lang">
            <i class="icon-locale"></i>
            <div class="locale-tag"></div>
            <div class="option web-lang lang-menu-list">
              <a href="/zh/" class="lang-item">{{ .Site.Params.languageZh }}</a>
              <a href="/en/" class="lang-item">{{ .Site.Params.languageEn }}</a>
            </div>
          </div>
          <div class="theme-change">
            <i class="icon-theme light"></i>
          </div>
          <div class="opt-user" id="opt_user">
            <div class="logined">
                <div class="opt-info">
                    <div class="opt-img">
                        <img
                            src=""
                            alt="LogOut"
                            class="img"
                        />
                        <div class="empty-img"></div>
                    </div>
                    <p class="opt-name"></p>
                    <div class="user-menu-list">
                      <a class="zone user-item">{{i18n "zone_text"}}</a>
                      <a class="logout user-item">{{i18n "logout_text"}}</a>
                  </div>
                </div>
            </div>

            <div class="login">
              <i class="icon-user"></i>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="h5-nav-menu">
    <div class="h5_nav_left"></div>
    <div class="h5-logo">
    </div>
    <div class="h5-right">
      <i class="white_search"></i>
      <div class="opt-user" id="opt_user">
        <div class="logined">
            <div class="opt-info">
                <div class="opt-img">
                    <img
                        src=""
                        alt="LogOut"
                        class="img"
                    />
                    <div class="empty-img"></div>
                </div>
                <p class="opt-name"></p>
                <div class="user-menu-list">
                  <a class="zone user-item">{{i18n "zone_text"}}</a>
                  <a class="logout user-item">{{i18n "logout_text"}}</a>
              </div>
            </div>
        </div>

        <div class="login">
          <i class="icon-user"></i>
        </div>
      </div>
    </div>
  </div>
</nav>
