<div class="footer migration">
  <div class="app-content">
    <div class="atom">
      <p class="atom-text">
        {{i18n "atom-text"}}
      </p>
      <a href="https://openatom.cn" target="_blank" rel="noopener noreferrer"><img src="{{ .Site.Params.resourceURL }}img/footer/atom-logo.svg"
          class="atom-logo" /></a>
    </div>
  </div>
  <div class="footer-content">
    <div class="app-content">
      <div class="inner">
        <div class="footer-logo">
          <img class="show-pc" src="{{ .Site.Params.resourceURL }}img/footer/footer-logo2.png" alt="" />
          <img class="show-mo" src="{{ .Site.Params.resourceURL }}img/footer/footer-logo2-mo.png" alt="" />
          <p>
            <a class="email" href="mailto:contact@openeuler.io" target="_blank">contact@openeuler.io</a>
          </p>
        </div>
        <div class="footer-option">
          <div class="footer-option-item">
            <a href="https://www.openeuler.org/{{ .Site.LanguageCode}}/other/brand/" class="link" target="_blank" rel="noopener noreferrer" >{{i18n "brand"}}</a>
            <a href="https://www.openeuler.org/{{ .Site.LanguageCode}}/other/privacy/" class="link" target="_blank" rel="noopener noreferrer"
              link="privacy">{{i18n "privacy"}}</a>
            <a href="https://www.openeuler.org/{{ .Site.LanguageCode}}/other/legal/" class="link" target="_blank" rel="noopener noreferrer" >{{i18n
              "legal"}}</a>
            <a href="https://www.openeuler.org/{{ .Site.LanguageCode}}/other/cookies/" class="link" target="_blank" rel="noopener noreferrer" >{{i18n
              "cookies"}}</a>
          </div>
          <p class="license">
            <span>{{ i18n "licensed_1" }}</span>
            {{ i18n "licensed_2" }}
          </p>
          <p class="copyright">
            <span>{{i18n "copy_right"}}</span>
            <span class="approval-wrap">
              <a class="approval1" href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" rel="noopener noreferrer">{{i18n "approval1"}}</a>
              <img class="police-img" src="{{ .Site.Params.resourceURL }}img/footer/police.png" alt="" />
              <span>{{i18n "approval2"}}</span>
            </span>
          </p>
        </div>
        <div class="footer-right">
          <div class="code-box">
            <div class="code-pop" ><img src="{{ .Site.Params.resourceURL }}img/footer/img-xzs.png" class="code-img" alt="" />
              <div class="code-layer">
                <img src="{{ .Site.Params.resourceURL }}img/footer/code-xzs.png" alt="" />
                <p class="txt">openEuler公众号</p>
              </div>
            </div><div class="code-pop"><img src="{{ .Site.Params.resourceURL }}img/footer/img-gzh.png" class="code-img" alt="" />
              <div class="code-layer">
                <img src="{{ .Site.Params.resourceURL }}img/footer/code-zgz.png" alt="" />
                <p class="txt">openEuler小助手</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>