html {
  --layout-pkg-radius: 4px;
}
:root {
  --o-radius_control-xs: 4px;
  --o-radius_control-s: 4px;
  --o-radius_control-m: 4px;
  --o-radius_control-l: 4px;

  --el-box-shadow-light: var(--o-shadow-2);
  --el-color-primary: var(--o-color-primary1) !important;
}

.o-icon {
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}

.o-message-list {
  z-index: 2147483647 !important;
  --app-header-height: 64px;

  --message-list-offset: calc(var(--app-header-height) + 32px);
}

.o-popup {
  --popup-shadow: var(--o-shadow-2);
}
